*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}

nav{
      display:flex;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(0, 49, 0);
      min-height: 8vh;
      line-height: 4vh;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
       'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin:0px 0px;
}
.nav-links{
      display: flex;
      list-style: none;
      justify-content: space-around;
      width: 30%;
      padding-top: 8px;
}
.nav-links a{
      color:  rgb(235, 231, 231);
      text-decoration: none;

}
.logo{
      color: rgb(235, 231, 231);
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 12px;
      font-weight: bold;
}
.burger div{
      width: 25px;
      height: 3px;
      background-color:rgb(235, 231, 231);
      margin: 5px;
      transition: all 0.3s ease;
}
.burger{
      display:none;
      cursor: pointer;
}

@media screen and (max-width:768px){
      body{
            overflow-x: hidden;
      }
      .nav-links{
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color: #504954;
            display:flex;
            flex-direction: column;
            align-items:center;
            width:40%;
            transform: translateX(100%); 
            transition: transform, 0.5s ease in; 
      }
      .nav-links li{
            opacity:0;
      }
      .burger{
            display:block;
      }

}
@media screen and (max-width: 1000px){
     .nav-links{
            width: 50%;
      }
}

.nav-active{
      transform: translateX(0%);
}
@keyframes navLinkFade{
      from{
            opacity:0;
            transform: translateX(50px);
      }
      to{
            opacity: 1;
            transform:translateX(0px)
      }
}
.toggle .line1{
      transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
      opacity: 0;
}
.toggle .line3{
      transform: rotate(45deg) translate(-5px,-6px);
}